body {
  background: url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

p{
   font-size: 300px;
}
h1 {
  color:white
}
h3 {
  color: white;
}

img {
    width: 100%;
}
.navbar {
margin-bottom:1000;
}
.container-fluid { 
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top:100px;
}
.top-buffer{
margin-top:350px;
}